{% extends 'base.html' %}

{% block desktop %}
    <style type="text/css" media="screen">
        #leaderboard { padding: 20px !important; }
    </style>

    <div id="leaderboard">
        <div class="ui grid">
            <div class="row">
                <!-- left side header -->
                <div class="ui ten wide column segment">
                    <leftheader></leftheader>
                    <div class="ui four item small borderless menu header_menu">
                        {% if request.user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="item">Administração</a>
                            <a class="item" @click="showModal('all_submissions_sent_modal')">Histórico Geral</a>
                            <a href="{% url 'logout' %}" class="item">Logout</a>
                        {% elif request.user.is_anonymous == True %}
                            <a href="{% url 'events_running' %}" class="item">Outros eventos</a>
                        {% else %}
                            {% if not request.user.team.event.is_finished and request.user.team.event.is_active %}
                                <a class="item" @click="showModal('submission_modal')">Submeter</a>
                            {% endif %}
                            <a class="item" @click="showModal('submissions_sent_modal')">Histórico</a>
                            <a class="item" @click="showQuestions()">Questões</a>
                            <a href="{% url 'logout' %}" class="item">Logout</a>
                        {% endif %}
                    </div>
                </div>

                <!-- right side header -->
                <div class="six wide column">
                    <div class="ui center aligned segment">
                        <rightheader></rightheader>
                    </div>
                </div>
            </div>

            <!-- table teams content -->
            <teams_position></teams_position>

            <!-- modal declaration-->
            <submission_modal></submission_modal>
            <submissions_sent_modal></submissions_sent_modal>
            <all_submissions_sent_modal></all_submissions_sent_modal>
        </div>
    </div>

    <!-- components -->
    {% include "leaderboard/components/left_header.html" %}
    {% include "leaderboard/components/right_header.html" %}
    {% include "leaderboard/components/teams_position.html" %}
    {% include "leaderboard/components/submission_modal.html" %}
    {% include "leaderboard/components/submissions_sent_modal.html" %}
    {% include "leaderboard/components/all_submissions_sent_modal.html" %}

    <script>
        $('#pdf-button').click(function() {
            console.log('tchau')
            window.open('{{ request.user.team.event.questions_pdf.url }}', '_blank');
        });
        new Vue({
            el: '#leaderboard',
            delimiters: ['[[', ']]'],
            data () { return {} },
            methods: {
                showModal(modalName) {
                    // show the modal
                    $('#'+modalName)
                    .modal({
                        inverted: true
                    })
                    .modal('setting', 'transition', 'fade')
                    .modal('show');
                },

                showQuestions() {
                    window.open('{{ request.user.team.event.questions_pdf.url }}', '_blank');     
                }
            }
        })
    </script>
{% endblock desktop %}
