{% extends "base.html" %}

{% block desktop %}
<style>
    #events_list { margin-top: 10vh !important; }
    .envents_marginup { margin-top: 5px !important }
</style>

<div class="ui grid">
    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui segment" id="events_list">
                <h1 class="ui grey dividing header">
                    <form action="{% url 'login' %}">
                        Eventos em andamento
                        <input type="submit" class="ui right floated blue button" value="Login" />
                    </form>
                </h1>
                {% if events %}
                    <table class="ui small selectable table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Instituição</th>
                                <th>Data</th>
                                <th>Início</th>
                                <th>Término</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr onclick="window.location.href='/event_details/{{event.id}}'">
                                    <td>{{ event }}</td>
                                    <td>{{ event.institution }}</td>
                                    <td>{{ event.date }}</td>
                                    <td>{{ event.start_time }}</td>
                                    <td>{{ event.finish_time }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <p>Não há registro de eventos ocorrendo neste momento</p>
                {% endif %}
            </div>
        </div>
        <div class="four wide column"></div>
    </div>
</div>
{% endblock desktop %}
