{% extends 'base.html' %}

{% block desktop %}
    <style type="text/css" media="screen">
        #leaderboard { padding: 20px !important; }
    </style>

    <div id="leaderboard">
        <div class="ui grid">
            <div class="row">
                <!-- left side header -->
                <div class="ui ten wide column segment">
                    <leftheader></leftheader>
                    <div class="ui four item small borderless menu header_menu">
                        <a href="{% url 'admin:index' %}" class="item">
                            Administração</a>
                        {% comment %} <a class="item">Placar</a> {% endcomment %}
                        {% comment %} <a class="item">Dashboard</a> {% endcomment %}
                        <a class="item" @click="showModal('submission_modal')">Submeter</a>
                        <a class="item" @click="showModal('submissions_sent_modal')">Histórico</a>
                        <a href="{% url 'logout' %}" class="item">Logout</a>
                    </div>
                </div>

                <!-- right side header -->
                <div class="six wide column">
                    <div class="ui center aligned segment">
                        <rightheader></rightheader>
                    </div>
                </div>
            </div>

            <!-- table teams content -->
            <teams_position></teams_position>

            <!-- modal declaration-->
            <submission_modal></submission_modal>
            <submissions_sent_modal></submissions_sent_modal>
        </div>
    </div>

    <!-- components -->
    {% include "leaderboard/components/left_header.html" %}
    {% include "leaderboard/components/right_header.html" %}
    {% include "leaderboard/components/teams_position.html" %}
    {% comment %} {% include "leaderboard/components/submission_modal.html" %} {% endcomment %}
    {% include "leaderboard/components/submissions_sent_modal.html" %}

    <script>

        new Vue({
            el: '#leaderboard',
            delimiters: ['[[', ']]'],
            data () { return {} },
            methods: {
                showModal(modalName) {
                    // show the modal
                    $('#'+modalName)
                    .modal({
                        inverted: true
                    })
                    .modal('setting', 'transition', 'fade')
                    .modal('show');
                },
            }
        })
    </script>
{% endblock desktop %}
