{% load static %}

<script>
    Vue.component('leftheader', {
    data() {
        return {
            event_id: '{{ request.user.team.event.id }}',
            event_name: '',
            event_institution: '',
            team_logo: '',
            team_name: '{{ request.user.team.name }}'
        }
    },
    mounted() {
    if (!(this.event_id)) {
            this.event_id = '{{ request.path_info }}'.toString()
            this.event_id = (this.event_id.split('/').slice(2,3)).toString()
            console.log(this.event_id)
    }
    axios.get('http://localhost:8000/api/events/' + this.event_id)
        .then(response => {
            // Parse the response data to extract the questions
            this.event_name = response.data.event_name
            this.event_institution = response.data.event_institution
        })
        .catch(error => {
            console.log(error)
      })
    },
    delimiters: ['[[', ']]'],
    methods: {},
    template: `
    <div class="ui grid" id="leaderboard_header">
        <div class="row">
            <div class="ten wide column">
                <h1 class="ui grey header">
                    [[ event_name ]] - [[ event_institution ]]
                    <br><br>
                    [[ team_name ]]
                </h1>
            </div>

            <div class="six wide column">
                <div class="ui right aligned basic segment">
                    <img class="ui small right floated image"
                        v-if="team_logo"
                        :src="team_logo">
                    <img class="ui small right floated image"
                        v-else
                        src="{% static 'images/uniararas.png' %}">
                </div>  
            </div>
        </div>
    </div>
    `
})
</script>
