{% load static %}

<script>
    Vue.component('leftheader', {
    data() {
        return {
            event_id: '{{ request.user.team.event.id }}',
            event_name: '',
            event_institution: '',
            logo: null
        }
    },
    mounted() {
    axios.get('http://localhost:8000/api/events/' + this.event_id)
        .then(response => {
            // Parse the response data to extract the questions
            this.event_name = response.data.event_name
            this.event_institution = response.data.event_institution
        })
        .catch(error => {
            console.log(error)
      })
    },
    delimiters: ['[[', ']]'],
    methods: {},
    template: `
    <div class="ui grid" id="leaderboard_header">
        <div class="row">
            <div class="ten wide column">
                <h1 class="ui grey header">
                    [[ event_name ]]
                    <br>
                    <small>
                        [[ event_institution ]]
                    </small>
                </h1>
            </div>

            <div class="six wide column">
                <div class="ui right aligned basic segment">
                    <img class="ui small right floated image"
                        :src="logo ? logo : '{% static 'images/uniararas.png' %}'">
                </div>
            </div>
        </div>
    </div>
    `
})
</script>
