{% load static %}

<script>
    Vue.component('rightheader', {
    data() {
        return {
            event_id: '{{ request.user.team.event.id }}',
            event_date: '',
            time: '',
            event_remaining_time: null,
            interval: null
        }
    },
    delimiters: ['[[', ']]'],
    computed: {
        hours() {
            return Math.floor(this.time / 60 / 60);
        },
        minutes() {
            return Math.floor(this.time / 60) % 60;
        },
        seconds() {
            return this.time % 60;
        },
    },
    methods: {
        start() {
            this.interval = setInterval(() => {
                if (this.time > 0){
                    this.time -= 1;
                }
                else {
                    this.stop();
                }
            }, 1000);
        },
        stop() {
            clearInterval(this.interval);
        },
    },
    mounted() {
        axios.get('http://localhost:8000/api/events/event_duration/' + this.event_id)
            .then(response => {
                // Parse the response data to extract the questions
                this.event_date = response.data.date
                this.time = response.data.remaining_seconds
            })
            .catch(error => {
                console.log(error)
        }),

        this.start();
    },
    beforeDestroy() {
        this.stop();
    },
    template: `
            <div class="ui two column grid">
                <div class="column">
                    <h1 class="ui grey header">[[ event_date ]]</h1>
                </div>

                <div class="column">
                    <h1 v-if="time > 0" class="ui grey header">[[ String(hours).padStart(2, '0') ]]:[[ String(minutes).padStart(2, '0') ]]:[[ String(seconds).padStart(2, '0') ]]</h1>
                    <h1 v-else class="ui grey header">Evento encerrado</h1>
                </div>
            </div>
        `
    });
</script>