<script>
    Vue.component('team_info', {
        props: ['team'],
        data() {
            return {
                total_questions: 10,
                team_name: 'team name',
                total_time: 0,
                rt_questions: "1, 3",
                rc_questions: "2",
                wr_questions: "5",
            }
        },
        delimiters: ['[[', ']]'],
        methods: {},
        template: `
        <tr>
            <td class="collapsing">[[ team_name ]]</td>
            <td>
                <div class="ui small icon fluid buttons">
                    <div class="ui small icon fluid buttons" v-for="item in total_questions" :key="item">
                        <div v-if="wr_questions.includes(item)" class="ui red button">[[ item ]]</div>
                        <div v-else-if="rc_questions.includes(item)" class="ui orange button">[[ item ]]</div>
                        <div v-else-if="rt_questions.includes(item)" class="ui green button">[[ item ]]</div>
                        <div class="ui button" v-else>[[ item ]]</div>
                    </div>
                 </div>
            </td>
            <td class="collapsing">[[ total_time ]]</td>
        </tr>
        `
    })
</script>
