<script>
    Vue.component('team_info', {
        props: ['team', 'total_questions'],
        data() {
            return {
                team_name: 'Sol ta forte',
                total_time: 120,
                rt_questions: "1, 3",
                rc_questions: "2",
                wr_questions: "5",
                punishments: 3
            }
        },
        delimiters: ['[[', ']]'],
        methods: {},
        template: `
        <tr>
            <td class="collapsing" :title="team.students_names">[[ team.name ]]</td>
            <td>
                <div class="ui small icon fluid buttons">
                    <div class="ui small icon fluid buttons" v-for="item in total_questions" :key="item">
                        <div v-if="team.rt_questions.includes(item)" class="ui green button">[[ item ]]</div>
                        <div v-else-if="team.rc_questions.includes(item)" class="ui green button">[[ item ]]</div>
                        <div class="ui button" v-else>[[ item ]]</div>
                    </div>
                 </div>
            </td>
            <td class="collapsing" :title="team.formated_time">[[ (team.formated_time/60).toFixed(0) ]]([[ team.penalties ]])</td>
        </tr>
        `
    })
</script>
