{% include "./team_info.html" %}

<script>
    Vue.component('teams_position', {
        data() {
            return {
                teams: [],
                total_questions: ""
            } 
        },
        mounted() {
            axios.get('http://localhost:8000/api/accounts/leaderboard-teams/2')
                .then(response => {
                    // Parse the response data to extract the questions
                    this.teams = response.data
                })
                .catch(error => {
                    console.log(error)
            })
            axios.get('http://localhost:8000/api/events/2')
                .then(response => {
                    // Parse the response data to extract the questions
                    this.total_questions = response.data.event_total_questions
                })
                .catch(error => {
                    console.log(error)
            })
        },
        delimiters: ['[[', ']]'],
        methods: {},
        template: `
        <table class="ui table">
            <thead>
                <tr>
                    <td>Equipe</td>
                    <td>Questões</td>
                    <td>Total</td>
                </tr>
            </thead>

            <tbody>
                <team_info v-for="item in teams" :key="item" :team="item" :total_questions="total_questions"></team_info>
            </tbody>
        </table>
        `
    })
</script>
