{% extends 'base.html' %}



{% block mobile %}
    <h1 class="ui red header">Teste mobile</h1>
{% endblock mobile %}

{% block desktop %}
    <div class="ui grid">
        <div class="row" id="desktop-header">
            <div class="ten wide column">
                <div class="ui segment">
                    <div class="ui grid">

                        <!-- head -->
                        <div class="row" id="header">

                            <!-- head -->
                            <div class="ten wide column">
                                <h1 class="ui green header">
                                    [[ title ]]
                                    <br>
                                    <small>[[ institution ]]</small>
                                </h1>
                            </div>

                            <!-- logo -->
                            <div class="six wide column">
                                <div class="ui right aligned basic segment">
                                    <i class="coffee green huge icon"></i>
                                </div>
                            </div>

                        </div>

                        <script>
                            let header = new Vue({
                                el: '#header',
                                delimiters: ['[[', ']]'],
                                data: {
                                    title: 'Nome do evento',
                                    institution: 'Instituição'
                                },
                                methods: {
                                    getEventData() {
                                        // get the event data using axios
                                        axios.get('/api/event/1/')
                                            .then(response => {
                                                this.title = response.data.title
                                                this.institution = response.data.institution
                                            })
                                            .catch(error => { console.log(error) });
                                    }
                                },
                            })
                        </script>
                        <!-- end head -->

                        <div class="row">
                            <div class="column">
                                <div class="ui four item small inverted grey menu header_menu">
                                    <a class="item">Administração</a>
                                    <a class="item">Placar</a>
                                    <a class="item">Dashboard</a>
                                    <a href="{% url 'logout' %}" class="item">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="six wide column">
                <div class="ui two columns grid">
                    <div class="column">
                        <div class="ui center aligned segment">
                            <h1 class="ui grey header">13/10/2022</h1>
                        </div>
                    </div>
                    <div class="column" id="clock">
                        <div class="ui center aligned segment">
                            <h1 class="ui grey header">[[ time ]]</h1>

                            <script>
                                let clock = new Vue({
                                    delimiters: ['[[', ']]'],
                                    el: '#clock',
                                    data() {
                                        return {
                                            time: 0,
                                            interval: null,
                                            value: null
                                        }
                                    },
                                    methods: {
                                        start() {
                                            axios
                                                .get('/api/accounts/leaderboard-teams/1')
                                                .then(response => {
                                                    this.value = response.data;
                                                })
                                            this.interval = setInterval(() => {
                                                this.time += 1
                                            }, 1000)
                                        },
                                        stop() {
                                            clearInterval(this.interval)
                                        }
                                    },
                                    mounted() { this.start() },
                                    beforeDestroy() { this.stop() }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- teams -->
        <div class="ui row" id="desktop-content">
            <div class="column" id="ranking">
                <div class="ui segment">
                    <h1 class="ui grey header">Placar do evento</h1>

                    <table class="ui basic table">
                        <thead>
                            <tr>
                                <th>Equipe</th>
                                <th> Questões </th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <!-- numbers -->
                                    <div class="ui small icon fluid basic buttons questions">
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                        <div class="ui button">X</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr v-for="team in teams">
                                <td class="collapsing">[[ team.name ]]</td>
                                <td>
                                    <!-- question bodies -->
                                    <div class="ui small icon fluid buttons">
                                        <div class="ui green button"><i class="check circle large icon"></i></div>
                                        <div class="ui red button"><i class="exclamation circle large icon"></i></div>
                                        <div class="ui orange button"><i class="check circle large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                        <div class="ui button"><i class="dot circle outline large icon"></i></div>
                                    </div>
                                </td>
                                <td class="collapsing">[[ team.formated_time ]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <script>
                        let ranking = new Vue({
                            el: '#ranking',
                            delimiters: ['[[', ']]'],
                            data() {
                                return {
                                    teams: []
                                }
                            },
                            methods: {
                                getTeams() {
                                    axios.get('/api/accounts/leaderboard-teams/1')
                                        .then(response => { this.teams = response.data })
                                        .catch(error => { console.log(error) })
                                }
                            },
                            mounted() { this.getTeams() }
                        })
                    </script>

                </div>
            </div>

        </div>

        <!-- end teams -->

    </div>
{% endblock desktop %}
