{% extends 'base.html' %}


{% block desktop %}

   <div class="login">
        <div class="ui grid", id="login-page">
            <div class="eight wide column">
                <img class="ui centered large image" src="https://www.acitapevi.com.br/images/upload/images/uniararas.png">
            </div>
            
            <div class="centered five wide column">
                <div class="ui centered black header">
                    <h1 class="content">Seja bem vindo</h1>
                </div>
                <div class="ui fluid">
                    <div class="content">
                        <form class="ui form" action="POST">
                            <div class="field">
                                <label>Usuário</label>
                                <input type="text" name="user", placeholder="Usuário">
                            </div>
                            <div class="field">
                                <label>Senha</label>
                                <input type="password" name="pass" placeholder="Senha">
                            </div>
                            <div class="ui fluid large blue submit button">
                                Login
                                <i class="arrow right large icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock desktop %}
