body {
    background-color: #ECECEC;
}

#desktop-header {
    padding: 50px;
}

#desktop-content {
    padding: 0px 50px 50px 50px;
}

.questions {
    margin-top: -20px !important;
}

.login_top_distance {
    padding-top: 15% !important;
}

.header_menu {
    background-color: #F2F2F2 !important;
}

.item {
    color: black !important;
}
